.khung{
	width: 85%;
	height: auto;
	margin: 0 auto;
}
.khung .tuan{
	float: left;
	width: 100%;
	height: 75px;
	background: #33331a;

}
.tuan .tlogo{
	float: left;
	width: 20%;
	height: 100%;
	background: orange;
}
.tuan .tmenu{
	float: left;
	width: 80%;
	height: 100%;
	background: #33331a;
}
.tlogo img{
	float: left;
	width: 100%;
	height: 100%;
}
.tmenu ul{
	float: left;
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.tmenu ul li{
	float: left;
	display: block;
	width: 11%;
	height: 100%;
	text-align: center;
	padding-top: 30px;
	
}
.tmenu ul li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}
.tmenu li a:hover{
	color: green;


}
.khung .quan{
	float: left;
	width: 100%;
	height: 400px;
	background-image: url('https://image.thanhnien.vn/uploaded/2014/ihay.thanhnien.com.vn/pictures20134/luan/1/demhalong1.jpg?width=600');
	background-repeat: no-repeat;
	background-size: 100% 400px;
	margin-bottom: 20px;
}
.quan h1{
	text-align: center;
	margin: 0;
	padding-top: 50px;
	color: white;
	text-transform: uppercase;
}
.quan p{
	text-align: center;
	color: white;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
}
.quan a{
	display: block;
	width: 25%;
	height: 50px;
	background: orange;
	color: 	white;
	text-align: center;
	line-height: 50px;
	margin-left: 37%;
	border-radius: 10px;font-size: 25px;
	text-decoration: none;
	margin-top: 50px;
}
.quan a:hover{
	color: red;
	background: yellow;
}
.khung .dang{
	float: left;
	width: 100%;
	height: 400px;
	background: white;
}
.dang .dang1{
	width: 90%;
	height: 400px;
	/*background: red;*/
	margin: 0 auto;
}
.dang1 .danga{
	float: left;
	width: 23%;
	height: 400px;
	/*background: blue;*/
	margin-left: 1%;
	margin-right: 1%;
}
.danga .dangtop{
	width: 100%;
	height:200px; 
	/*background: yellow;*/
}
.danga .dangbot{
	width: 100%;
	height:200px; 
	/*background: pink;*/
}
.dangtop img{
	width: 100%;
	height: 100%;
}
.dangbot h3{
	color: gray;
	text-align: center;
	margin: 0 ;
	text-transform: uppercase;
	padding-top: 10px;
}
.dangbot p{
	color: gray;
	text-align: left;
	margin: 0;
	padding-top: 10px;
	font-size: 18px;
	padding-left: 10%;
	padding-right: 10%;
}
.dangbot p a{
	text-decoration: none;
}

.khung .viet{
	float: left;
	width: 100%;
	height: auto;
	background: #103667;
}
.viet .vietkhung{
	margin: 0 auto;
	width: 80%;
	height: 450px;
	background: red;
}

.vietkhung .v0{
	width: 100%;
	height: 100px;
	background: #103667;
}
.v0 .v1{
	float: left;
	width: 300px;
	height: 30px;
	background: #103667;
	margin-top: 20px;
}
.v1 h2{
	font-family: cursive;
	margin: 0;
	text-align: center;
	display: block;
	color: orange;

}
.v0 .v2{
	float: right;
	width: 120px;
	height: 35px;
	background: blue;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
}.v2 a{
	margin-left: 10px;
	margin-top: 4px;
	display: block;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.v2 a:hover{
	color: black;
}
.vietkhung .viettan{
	clear: both;
	width: 100%;
	height: 350px;
	background: #103667;
}
.viettan .v3{
	float: left;
	width:32%;
	height: 350px;
	background: red;
}
.viettan .diff{
	margin-left: 2%;
	margin-right: 2%;
}
.v3 .vanh{
	width: 100%;
	height: 200px;
	background: orange;
}
.vanh img{
	
	height: 100%;
	width: 100%;
}
.v3 .vchu{
	float: left;
	width: 100%;
	height: 150px;
	background: #103667;
}
.vchu h3{
	color: orange;
	font-family: cursive;
}
.vchu p{
	margin-top:-10px;
	font-family: cursive;
	color: white;
	font-size: 13px;
}
.khung .hien{
float: left;
width: 100%;
height:450px;
background: pink; 
}
.hien.h{
width: 80%;
height: 100px;
background: green;
}
.h h2{
	text-transform: uppercase;
	padding-top: 30px;
	color: blue;
	text-align: center;
	font-size: 20px;
}
.h p{
	padding-top: 10px;
	margin: 0 auto;
	color: grey;
	font-size: 18px;
	text-align: center;
	display: block;
	width: 60%;
	height: 50px;
	line-height: 20px;
}
.hien .h1{
	float: left;
	width: 23%;
	height:65%;
	margin-left: 1%;
	margin-right: 1%;
	background: red;
}
.h1 h3{
	color: blue;
	text-align: left;
	line-height: 10px;
	font-size: 20px;
	padding-left: 10px;
}
.h1 p{
	color: white;
	margin: 0 auto;
	text-align: left;
	padding-left: 10px;
	font-size: 18px;
}
.h1 a{
	text-decoration: none;
	display: block;
	width: 50px;
	height: 30px;
	background: blue;
	color: white;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	float: right;
	margin-right: 10px;

}
.khung .chi